@{
    ViewBag.Title = "PersonaleDashboard";
}

@section MyCss{
    <link href="~/MyCss/PersonalDashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/modal.css" rel="stylesheet" />
}

<section style="padding-top:40px">
    <div id="demo" class="carousel slide" data-ride="carousel" style="text-align:center" data-interval="0">
        <div class="carousel-inner" role="listbox">
            @{Html.RenderAction("DogsPerUser", "PersonalDashboard");}
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<section class="container" style="padding-top:40px">
    <div class="row">
        <div class="col-lg-6" style="padding-bottom:15px">
            <div>
                <h2 class="listTitle">Conversations :</h2>
            </div>
            <div id="scrollDiv1" class="scrollDiv">
                @{Html.RenderAction("ConversationsPerUser", "PersonalDashboard");}
            </div>
        </div>
        <div class="col-lg-6" style="padding-bottom:15px">
            <div>
                <h2 class="listTitle">Confirmation Requests :</h2>
            </div>
            <div id="scrollDiv2" class="scrollDiv">
                @{Html.RenderAction("ConfirmationsPerUser", "PersonalDashboard");}
            </div>
        </div>
    </div>
</section>

@{Html.RenderPartial("PersonalDashboardModal"); }

@section scripts{@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

        var inputBtn = $('.modal-footer input');
        var mainContainerDogs = $(".carousel-inner");

        $("#personalDashboardModal").unbind().on("show.bs.modal", function (event) {

            var button = $(event.relatedTarget);

            var modal = $(this);

            inputBtn.show();

            var forminput = modal.find('.modal-body');
            forminput.empty();

            getHtml(button, forminput);
        });

        function getHtml(button, forminput) {

            var Id;
            var url;

            if (button.attr('id') === 'DogDelete') {
                Id = button.data('id');
                url = '/Dog/DeleteDogDisplay?DogID=';
            }
            else if (button.attr('id') === 'DogEdit') {
                Id = button.data('id');
                url = '/Dog/EditDogDisplay?DogID=';
            }

            $.get(url + Id)
                .done(function (data) {
                    forminput.html(data);
                })
                .fail(function () {
                    forminput.append('<h1 id="Msg" >Something went wrong!!!</h1>')
                });
        };

        $('#personaldashboardform').on('submit', function (e) {

            e.preventDefault();

            var dataToPost = $(this).serialize();

            var inputid = $('.form-group:first');

            var urls = getUrl(inputid);
            var urlPost = urls[0];
            var urlGet = urls[1];

            $.post(urlPost, dataToPost)
                .done(function () {
                    $('#Msg').text('Success!!!');
                    getReload(urlGet);
                })
                .fail(function (xhr) {
                    if (xhr.status == 403) {

                        window.location = xhr.responseJSON.LogOnUrl;
                    }
                    $('#Msg').text('Something went wrong!!!');

                }).always(function () {
                    inputBtn.hide();
                    $(this).find('input').attr('readonly', 'readonly');
                });
        });

        function getUrl(inputid) {
            if (inputid.attr('id') === 'DeleteDog') {
                var urls = ['/Dog/DeleteDog', '/PersonalDashboard/DogsPerUser'];
                return urls;
            }
            else if (inputid.attr('id') === 'EditDog') {
                var urls = ['/Dog/EditDog', '/PersonalDashboard/DogsPerUser'];
                return urls;
            }
        };

        function getReload(urlGet) {

            var mainContainer;
            var url;
            if (urlGet === '/PersonalDashboard/DogsPerUser') {
                mainContainer = mainContainerDogs;
                url = urlGet;
            };
            $('#personalDashboardModal').on('hidden.bs.modal', function (e) {
                $.get(url)
                    .done(function (data) {
                        mainContainer.html(data)
                    })
                    .fail(function (xhr) {
                        if (xhr.status == 403) {

                            window.location = xhr.responseJSON.LogOnUrl;
                        }
                        $('#Msg').text('Something went wrong!!!');
                    });
            })
        };
    });
</script>
}
@*@section MyScripts{<script src="~/MyScripts/PersonalDashboard.js"></script>}*@