@model LendADogDemo.MVC.ViewModels.PersonalDashboardViewModel
@{
    ViewBag.Title = "PersonalDashboardMain";
}
<br />
<br />
<style>
    .card-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .card{
        max-width:348px;
    }
    .card-deck .card {
        padding-bottom: 50px;
    }
</style>
<section>

    <div id="demo" class="carousel slide" data-ride="carousel" style="text-align:center" data-interval="0">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="card-deck ">
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        @*<div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Sleeping-Puppy.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>

                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                                <p class="card-text">BlaBlaBla</p>
                            </div>
                            <div class="card-block">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")}