@{
    ViewBag.Title = "PersonaleDashboard";
}

@section MyCss{
    <link href="~/MyCss/PersonalDashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/modal.css" rel="stylesheet" />
}

<div style="margin-top:20px;text-align:center">
    <button id="CreateDog" type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalDashboardModal"
            style="border:groove">
        Create New Dog
    </button>
</div>

<section style="padding-top:40px">
    <div id="demo" class="carousel slide" data-ride="carousel" style="text-align:center" data-interval="0">
        <div class="carousel-inner" role="listbox">
            @{Html.RenderAction("DogsPerUser", "PersonalDashboard");}
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<section class="container" style="padding-top:40px">
    <div class="row">
        <div class="col-lg-6" style="padding-bottom:15px">
            <div>
                <h2 class="listTitle">Conversations :</h2>
            </div>
            <div id="scrollDiv1" class="scrollDiv">
                @{Html.RenderAction("ConversationsPerUser", "PersonalDashboard");}
            </div>
        </div>
        <div class="col-lg-6" style="padding-bottom:15px">
            <div>
                <h2 class="listTitle">Confirmation Requests :</h2>
            </div>
            <div id="scrollDiv2" class="scrollDiv">
                @{Html.RenderAction("ConfirmationsPerUser", "PersonalDashboard");}
            </div>
        </div>
    </div>
</section>

@{Html.RenderPartial("PersonalDashboardModal"); }

@section scripts{@Scripts.Render("~/bundles/jqueryval")}
@section MyScripts{<script src="~/MyScripts/PersonalDashboardNew.js"></script>}