<div class="modal fade vertically-modal" id="personalDashboardModal" tabindex="-1" role="dialog" aria-labelledby="personalDashboardModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title" id="personalDashboardModal">Delete Dog</h5>
            </div>*@
            <form method="post" id="personaldashboardform">
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
