@{
    ViewBag.Title = "About";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <pre style="font-size:140%">
LandADog is a platform that connects dog owners

so they can take care of each other’s 

dogs when they need help.

Instead of relying on pet sitters,

LandADog members can use the platform 

to find other reliable dog parents 

to look after their dog and return the favour next time when the same person

or another community member need help with their dog.
           </pre>
        </div>
    </div>
</section>
