@{
    ViewBag.Title = "Home Page";
}


<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/img/Sleeping-Puppy.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Planning a trip... </span>
                    <span class="section-heading-upper">Can't take your dog with you? </span>
                    <span class="section-heading-lower">You are in the right place! </span>
                </h2>
                <p class="mb-3">
                    Community created for people like you. Place where dog owners can help each other
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>