@model LendADogDemo.MVC.ViewModels.DogViewModel

<div class="container">
    <div class="row">
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.DogID, htmlAttributes: new { @class = "theInput" })
        </div>
        <div class="form-group">
            <h2>Are you sure you want to Delete <strong>@Model.DogName</strong>???</h2>
        </div>
    </div>
</div>
