<div class="modal fade vertically-modal" id="dogModalDelete" tabindex="-1" role="dialog" aria-labelledby="dogModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dogModalDeleteLabel">Delete Dog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="dogform">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.Hidden("DogID", "Value", htmlAttributes: new { @class = "hiddendogid" })
                    <div class="form-group">
                        <h1 id="dogMsg" class="form-control-label"></h1>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
